<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa earum ratione ipsam maiores quas illum
            numquam quasi, officia et autem in exercitationem deleniti velit vel dicta rem facilis distinctio quisquam!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur consectetur omnis ad eos ipsa dolore
            mollitia. Ex ipsum accusamus veniam minus repudiandae perferendis quam totam placeat assumenda vitae, iusto
            consequuntur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nesciunt a voluptatem? Amet quis aut
            repudiandae labore tempore eveniet sapiente molestiae consequuntur rerum magnam quisquam, corporis iusto
            dolorum nesciunt enim?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>